/**    
* @author		Letian
* @date		    {{ATTR_TIME}}
* @version	    V1.0.0
*/
#ifndef _ATTR_PID_TABLE_H_
#define _ATTR_PID_TABLE_H_

typedef enum 
{
{%- for cfg_item in attr_list %} 
    ATTR_{{ cfg_item['attr_name_en'] | trim }} = {{ cfg_item['attr_pid'] | lower }}, //{{cfg_item['attr_type']}} {{cfg_item['attr_min']}}-{{cfg_item['attr_max']}} {{cfg_item['attr_unit']}} {{cfg_item['attr_addr']}} {{cfg_item['attr_mean']}}
{%- endfor %}
}ATTR_LIST_E;

#endif
