#ifndef _FLASHDB_TABLE_H_
#define _FLASHDB_TABLE_H_

#include "flashdb_interface.h"
#include "flashdb.h"

#define O_TYPE_U8     "O_U08_"
#define O_TYPE_16     "O_U16_"
#define O_TYPE_32     "O_U32_"
#define O_TYPE_FT     "O_UFT_"
#define O_TYPE_STR    "O_STR_"

{% for var in variables %}
#define {{ "{:<25}".format(var.macro_name) }} "{{ var.macro_name }}"
{% endfor %}

extern const fdb_kv_table_t g_flash_kv_table[];
extern const size_t g_flash_kv_num;

#endif

